[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=Tilde
GenericName=TerminalEmulator

Exec=tilde %U
StartupWMClass=bytrong.app.tilde

Keywords=shell;prompt;command;commandline;cmd;

Icon=bytrong.app.tilde

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for tilde:// URLs.
MimeType=x-scheme-handler/tilde;
